Repository netobserv/network-observability-operator, pull requests merged in 2023-11, with the labels that each got.

#474 NETOBSERV-764: Loki v1beta2 model follow-up
  api/v1alpha1/flowcollector_webhook.go
  api/v1alpha1/zz_generated.conversion.go
  api/v1beta1/flowcollector_webhook.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/flowcollector_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/rbac/role.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  config/samples/flows_v1beta2_flowcollector_lokistack.yaml
  controllers/consoleplugin/consoleplugin_objects.go
  controllers/consoleplugin/consoleplugin_reconciler.go
  controllers/consoleplugin/consoleplugin_test.go
  controllers/constants/constants.go
  controllers/flowcollector_controller.go
  controllers/flowcollector_controller_certificates_test.go
  controllers/flowcollector_controller_console_test.go
  controllers/flowcollector_controller_iso_test.go
  controllers/flowcollector_controller_test.go
  controllers/flowlogspipeline/flp_common_objects.go
  controllers/flowlogspipeline/flp_monolith_reconciler.go
  controllers/flowlogspipeline/flp_reconciler.go
  controllers/flowlogspipeline/flp_test.go
  controllers/flowlogspipeline/flp_transfo_reconciler.go
  controllers/reconcilers/common.go
  docs/FlowCollector.md
  hack/cloned.flows.netobserv.io_flowcollectors.yaml
  pkg/helper/flowcollector.go
  pkg/helper/loki_config.go
  pkg/loki/roles.go
Labels: lgtm, approved, ok-to-test, jira/valid-reference

#480 NETOBSERV-1383: do not turn off conversion-gen
  api/v1alpha1/flowcollector_types.go
  api/v1alpha1/flowcollector_webhook.go
  api/v1alpha1/zz_generated.conversion.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/flowcollector_types.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  hack/cloned.flows.netobserv.io_flowcollectors.yaml
Labels: lgtm, qe-approved, approved, ok-to-test, jira/valid-reference

#481 NETOBSERV-764: conversion fallback on ingester url
  api/v1alpha1/flowcollector_webhook.go
  api/v1beta1/flowcollector_webhook.go
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
Labels: lgtm, qe-approved, approved, ok-to-test, jira/valid-reference

#484 Fix field wrongly named monolith/monolithic in sample CR
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
Labels: lgtm, approved, no-qe, no-doc

#485 Fix loki manual params doc
  api/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  controllers/flowcollector_controller_iso_test.go
  docs/FlowCollector.md
  hack/cloned.flows.netobserv.io_flowcollectors.yaml
Labels: lgtm, approved, no-qe, no-doc

#477 NETOBSERV-1150 Console plugin columns & filters as config
  controllers/consoleplugin/config/config.go
  controllers/consoleplugin/config/static-frontend-config.yaml
  controllers/consoleplugin/consoleplugin_objects.go
  controllers/consoleplugin/consoleplugin_reconciler.go
  controllers/consoleplugin/consoleplugin_test.go
  controllers/ebpf/agent_controller.go
  controllers/ebpf/internal/permissions/permissions.go
  controllers/flowcollector_controller_console_test.go
  controllers/flowlogspipeline/flp_ingest_reconciler.go
  controllers/flowlogspipeline/flp_monolith_reconciler.go
  controllers/flowlogspipeline/flp_transfo_reconciler.go
  controllers/reconcilers/common.go
  pkg/helper/client_helper.go
Labels: lgtm, approved, no-qe, ok-to-test

#447 NETOBSERV-1284: implement metrics white-listing
  api/v1alpha1/flowcollector_webhook.go
  api/v1alpha1/zz_generated.conversion.go
  api/v1beta1/flowcollector_types.go
  api/v1beta1/flowcollector_webhook.go
  api/v1beta1/flowcollector_webhook_test.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta2/flowcollector_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta1_flowcollector.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  controllers/flowcollector_controller.go
  controllers/flowcollector_controller_iso_test.go
  controllers/flowcollector_controller_test.go
  controllers/flowcollector_objects.go
  controllers/flowlogspipeline/flp_common_objects.go
  controllers/flowlogspipeline/flp_test.go
  controllers/flowlogspipeline/metrics_definitions/namespace_egress_bytes_total.yaml
  controllers/flowlogspipeline/metrics_definitions/namespace_egress_packets_total.yaml
  controllers/flowlogspipeline/metrics_definitions/namespace_flows_total.yaml
  controllers/flowlogspipeline/metrics_definitions/namespace_ingress_bytes_total.yaml
  controllers/flowlogspipeline/metrics_definitions/namespace_ingress_packets_total.yaml
  controllers/flowlogspipeline/metrics_definitions/node_egress_bytes_total.yaml
  controllers/flowlogspipeline/metrics_definitions/node_egress_packets_total.yaml
  controllers/flowlogspipeline/metrics_definitions/node_flows_total.yaml
  controllers/flowlogspipeline/metrics_definitions/node_ingress_bytes_total.yaml
  controllers/flowlogspipeline/metrics_definitions/node_ingress_packets_total.yaml
  controllers/flowlogspipeline/metrics_definitions/workload_egress_bytes_total.yaml
  controllers/flowlogspipeline/metrics_definitions/workload_egress_packets_total.yaml
  controllers/flowlogspipeline/metrics_definitions/workload_flows_total.yaml
  controllers/flowlogspipeline/metrics_definitions/workload_ingress_bytes_total.yaml
  controllers/flowlogspipeline/metrics_definitions/workload_ingress_packets_total.yaml
  docs/FlowCollector.md
  hack/cloned.flows.netobserv.io_flowcollectors.yaml
  pkg/dashboards/dashboard.go
  pkg/dashboards/dashboard_test.go
  pkg/dashboards/health.go
  pkg/dashboards/infra_health_dashboard.json
  pkg/helper/flowcollector.go
  pkg/metrics/predefined_metrics.go
  pkg/metrics/predefined_metrics_test.go
  pkg/test/dashboards.go
Labels: lgtm, qe-approved, approved, ok-to-test, jira/valid-reference

#488 NETOBSERV-1400 Feature filters are observed even though they are not enabled
  controllers/consoleplugin/config/static-frontend-config.yaml
Labels: lgtm, qe-approved, approved, ok-to-test

#453 NETOBSERV-1326: NETOBSERV-1231: Drops & RTT metrics
  api/v1beta1/flowcollector_types.go
  api/v1beta1/flowcollector_webhook_test.go
  api/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  controllers/flowlogspipeline/flp_test.go
  docs/FlowCollector.md
  docs/Metrics.md
  hack/cloned.flows.netobserv.io_flowcollectors.yaml
  pkg/dashboards/dashboard.go
  pkg/dashboards/dashboard_test.go
  pkg/metrics/predefined_metrics.go
  pkg/metrics/predefined_metrics_test.go
Labels: lgtm, qe-approved, approved, ok-to-test, jira/valid-reference

#451 NETOBSERV-1340: Add operator to "Networking" category in OperatorHub
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
Labels: lgtm, approved, jira/valid-reference

#494 Refactor FLP builder
  controllers/flowlogspipeline/flp_common_objects.go
  controllers/flowlogspipeline/flp_ingest_objects.go
  controllers/flowlogspipeline/flp_monolith_objects.go
  controllers/flowlogspipeline/flp_monolith_reconciler.go
  controllers/flowlogspipeline/flp_pipeline_builder.go
  controllers/flowlogspipeline/flp_test.go
  controllers/flowlogspipeline/flp_transfo_objects.go
  controllers/flowlogspipeline/flp_transfo_reconciler.go
Labels: lgtm, approved, no-qe, ok-to-test, no-doc

#482 NETOBSERV-1217: Added flag to enable multiCluster configuration
  api/v1alpha1/flowcollector_webhook.go
  api/v1alpha1/zz_generated.conversion.go
  api/v1beta1/flowcollector_types.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta2/flowcollector_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  controllers/flowcollector_controller_iso_test.go
  controllers/flowlogspipeline/flp_pipeline_builder.go
  docs/FlowCollector.md
  hack/cloned.flows.netobserv.io_flowcollectors.yaml
Labels: lgtm, qe-approved, approved, ok-to-test, jira/valid-reference

#489 NETOBSERV-1334: DNS metrics and dashboards
  api/v1alpha1/flowcollector_webhook.go
  api/v1beta1/flowcollector_types.go
  api/v1beta1/flowcollector_webhook.go
  api/v1beta1/flowcollector_webhook_test.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta2/flowcollector_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  controllers/flowcollector_controller.go
  controllers/flowcollector_controller_test.go
  controllers/flowlogspipeline/flp_pipeline_builder.go
  controllers/flowlogspipeline/flp_test.go
  docs/FlowCollector.md
  docs/Metrics.md
  hack/cloned.flows.netobserv.io_flowcollectors.yaml
  pkg/dashboards/dashboard.go
  pkg/dashboards/dashboard_test.go
  pkg/dashboards/model.go
  pkg/dashboards/scopes.go
  pkg/helper/flowcollector.go
  pkg/metrics/predefined_metrics.go
  pkg/metrics/predefined_metrics_test.go
Labels: lgtm, qe-approved, approved, ok-to-test, jira/valid-reference
