Repository netobserv/network-observability-operator, pull requests merged in 2025-04, with the labels that each got.

#1341 Fix semver with 0.0.0-<sha>
  .github/workflows/push_image.yml
  .github/workflows/push_image_pr.yml
  hack/test-workflow.sh
Labels: lgtm, ok-to-test

#1085 NETOBSERV-2198: IPsec support
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  controllers/consoleplugin/config/static-frontend-config.yaml
  controllers/consoleplugin/consoleplugin_objects.go
  controllers/ebpf/agent_controller.go
  controllers/ebpf/bpfmanager-controller.go
  docs/FlowCollector.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  pkg/helper/flowcollector.go
Labels: lgtm, approved, ok-to-test, jira/valid-reference

#1311 Bump prometheus and remove custom patch
  controllers/consoleplugin/consoleplugin_test.go
  go.mod
  go.sum
  vendor/github.com/prometheus/common/config/headers.go
  vendor/github.com/prometheus/common/config/http_config.go
  vendor/github.com/prometheus/common/expfmt/encode.go
  vendor/github.com/prometheus/common/expfmt/expfmt.go
  vendor/github.com/prometheus/common/expfmt/openmetrics_create.go
  vendor/github.com/prometheus/common/expfmt/text_parse.go
  vendor/github.com/prometheus/common/model/alert.go
  vendor/github.com/prometheus/common/model/labels.go
  vendor/github.com/prometheus/common/model/labelset_string.go
  vendor/github.com/prometheus/common/model/labelset_string_go120.go
  vendor/github.com/prometheus/common/model/metric.go
  vendor/github.com/prometheus/common/model/silence.go
  vendor/github.com/prometheus/common/model/value_float.go
  vendor/github.com/prometheus/common/model/value_histogram.go
  vendor/github.com/prometheus/common/version/info.go
  vendor/modules.txt
Labels: lgtm

#1261 NETOBSERV-2126: cleanup unused code wrt Duplicate
  apis/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  controllers/consoleplugin/config/config.go
  controllers/consoleplugin/config/static-frontend-config.yaml
  controllers/consoleplugin/consoleplugin_objects.go
  controllers/consoleplugin/consoleplugin_test.go
  controllers/ebpf/agent_controller.go
  controllers/flowcollector_controller_certificates_test.go
  docs/FlowMetric.md
  helm/templates/flows.netobserv.io_flowmetrics.yaml
  pkg/helper/cardinality/cardinality.json
Labels: no-qe, jira/valid-reference, no-doc

#1388 NETOBSERV-1929 add resources recommendations to install page
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  catalog/released/bundles.yaml
  catalog/unreleased/downstream-test-fbc/bundle.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
Labels: lgtm, no-qe, ok-to-test

#1386 Update Konflux doc IDMS
  docs/Konflux.md
Labels: lgtm

#1407 Renovate auto-merge
  renovate.json
Labels: lgtm

#1342 Rename "sampling rate" => "sampling ratio"
  README.md
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
Labels: lgtm
